header {
    background-color: lavender; /* Цвет фона */
    font-family: 'Arial', sans-serif; /* Шрифт */
    font-size: 20px; /* Размер текста */
    padding: 15px; /* Отступ внутри шапки */
}
nav {
    padding: 10px; /* Отступы для навигационного меню */
}
nav a {
    color: #333; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    padding: 10px; /* Отступы для ссылок */
}
nav a:hover {
    color: plum; /* Цвет текста при наведении */
}
nav a:active {
    color: plum; /* Цвет текста при клике */
}
h1 {
    color: #222; /* Цвет заголовка первого уровня */
    font-size: 35px; /* Размер заголовка */
}
h2 {
    color: #333; /* Цвет заголовка второго уровня */
    font-size: 30px; /* Размер заголовка */
}
article, section, aside {
    padding: 10px; /* Отступы */
    border: 1px solid black; /* Границы */
    background-color: #fafafa; /* Фоновый цвет */
    margin-bottom: 20px; /* Отступ снизу */
}
img {
    max-width: 100%; /* Максимальная ширина */
    margin: 10px 0; /* Отступы сверху и снизу */
}
.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}
video {
    display: block; /* Отображать видео как блочный элемент */
    width: 80%; /* Видео займет всю ширину родительского элемента */
    max-width: 500px; /* Максимальная ширина видео */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    border-radius: 5px; /* Скругление углов видео */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень видео */
    margin-bottom: 20px; /* Отступ снизу */
}
